@font-face{font-family:'Lato-Light';src:url(../fonts/LatoLight/Lato-Light.eot);src:url(../fonts/LatoLight/Lato-Light.woff) format('woff'),
url(../fonts/LatoLight/Lato-Light.eot?#iefix) format('embedded-opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Bold';src:url(../fonts/LatoBold/Lato-Bold.eot);src:url(../fonts/LatoBold/Lato-Bold.woff) format('woff'),
url(../fonts/LatoBold/Lato-Bold.eot?#iefix) format('embedded-opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Regular';src:url(../fonts/LatoRegular/Lato-Regular.eot);src:url(../fonts/LatoRegular/Lato-Regular.woff) format('woff'),
url(../fonts/LatoRegular/Lato-Regular.eot?#iefix) format('embedded-opentype');font-weight:normal;font-style:normal;}