@media (max-width: 1199px){
    .slick-slide img{
        max-width: 90%;
    }
    .slideshow .slick-next{
        right: -3%;
    }
    .slideshow .slick-prev{
        left: -3%;
    }
}
@media (max-width: 1030px){
    .footer-inner{
        padding: 50px 15px;
    }
}
@media (max-width: 991px){
    .pricing .prices{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .pricing .prices .price-item{
        width: 32%;
    }
}
@media (max-width: 800px){
    .footer-inner{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-inner .footer-left{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        max-width: 100%;
    }
    .footer-inner .footer-right{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px){
    header.top .menu nav .hamburger{
        display: block;
    }
    header.top .menu{
        padding: 10px 0;
    }
    header.top .menu a.logo{
        font-size: 38px;
    }
    header.top .menu nav ul{
        opacity: 0;
        position: absolute;
        width: 170px;
        top: 35px;
        left: -60px;
        background-color: #6a8d95;
        padding: 10px 20px;
        -webkit-transition: opacity ease-in-out .4s;
        -o-transition: opacity ease-in-out .4s;
        transition: opacity ease-in-out .4s;
    }
    header.top .menu nav ul li{
        display: block;
    }
    header.top .menu ul li a{
        width: 100%;
    }
    header.top .menu ul li a:hover{
        margin-right: -15px;
        padding-left: 23px;
        padding-right: 0;
    }
    header.top .menu ul li a:hover::after{
        display: none;
    }
    header.top .menu ul li a i{
        display: inline-block;
        margin-right: 10px;
        width: 17px;
    }
    .slick-slide img {
        max-width: 100%;
    }
    .slideshow .slick-prev, .slideshow .slick-next{
        opacity: 0;
    }
    .pricing .prices .price-item{
        width: 100%;
        margin-bottom: 70px;
    }
    .pricing .prices{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 0;
    }
}
@media (max-width: 600px){
    .top-menu .menu .mobile-logo{
        margin: 0;
    }
    .top-menu .menu .mobile-menu{
        width: 30px;
        position: fixed;
        right: 15px;
        top: 25px;
    }
    header.top .menu nav ul{
        left: -100px;
    }
}
@media (max-width: 500px){
    .contact .socials ul li a{
        height: 35px;
        width: 35px;
    }
    .contact .socials ul li a i{
        line-height: 35px;
        font-size: 20px;
    }
    .footer-inner .footer-left p{
        text-align: center;
    }
}
@media (max-width: 360px){
    .footer-inner .footer-left p{
        color: #ddd;
        font-size: 13px;
    }
    .footer-inner .footer-right ul li a{
        font-size: 14.5px;
        padding: 3px 5px;
    }
    .description p,
    p.subtitle{
        text-align: justify;
    }
}