@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    header.top .header-content{
        position: relative;
        padding-top: 20%;
    }
    .price-item .pricing-header span{
        display: block;
    }
    .row-inner.row > div{
        width: 100%;
    }
    .footer-inner .footer-left p{
        font-size: 14px;
    }
    .footer-inner .footer-right ul,
    .contact .socials ul{
        margin-left: -40px;
    }
}

/* Microsoft Edge Browser 12+ (All) - one-liner method */
_:-ms-lang(x), _:-webkit-full-screen, .footer-inner .footer-right ul { margin-left: -40px; }
_:-ms-lang(x), _:-webkit-full-screen, .contact .socials ul { margin-left: -40px; }