a, a:hover, a:focus, a:active, a:visited{
    color: inherit;
    text-decoration: none !important;
    outline: none;
}
ul{
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -ms-padding-start: 0;
    -o-padding-start: 0;
    margin-bottom: 0 !important;
    list-style-type: none;
}
.row.row-inner{
    max-width: 1030px;
    margin: 0 auto;
}
.row.row-inner>div{
    margin: 0 auto;
}
.content-wrapper header.top{
    color: #fff;
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    max-height: 550px;
    background-position: center top;
    background-attachment: fixed;
}
.content-wrapper header.top span.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(45, 45, 45, .8);
}
header.top .top-menu{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}
header.top .top-menu .bg-color{
    background-color: #6a8d95;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity ease-in-out .8s;
    -o-transition: opacity ease-in-out .8s;
    transition: opacity ease-in-out .8s;
}
header.top .menu{
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header.top .menu a.logo{
    font-family: 'Lato-Light';
    font-size: 48px;
    color: #fff;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
header.top .menu a.logo:hover{
    padding-left: 15px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
header.top .menu nav{
    float: right;
    position: relative;
}
header.top .menu nav .hamburger{
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}
header.top .menu nav .hamburger span.first,
header.top .menu nav .hamburger span.second,
header.top .menu nav .hamburger span.third{
    position: absolute;
    right: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
header.top .menu nav .hamburger span.first{
    top: 0;
}
header.top .menu nav .hamburger span.second{
    top: 10px;
}
header.top .menu nav .hamburger span.third{
    top: 20px;
}
.viz{
    opacity: 0;
}
.rotate-first{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px !important;
}
.rotate-third{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 10px !important;
}
header.top .menu ul li{
    display: inline;
}
header.top .menu ul li a{
    display: inline-block;
    color: #e9eef2;
    font-size: 16px;
    font-family: 'Lato-Bold';
    padding: 3px 8px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    position: relative;
}
header.top .menu ul li a::after{
    position: absolute;
    content:'';
    height: 1px;
    width: 0%;
    bottom: -2px;
    left: 50%;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    background-color: #e9eef2;
}
header.top .menu ul li a:hover::after{
    left: 0%;
    width: 100%;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
header.top .menu ul li a i{
    display: none;
}
header.top .header-content{
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
header.top .header-content>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
header.top .header-content h1{
    font-family: 'Lato-Bold';
    font-size: 38px;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
header.top .header-content p{
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;
}
p.subtitle{
    font-family: 'Lato-Regular';
    font-size: 21px;
}
header.top .header-content a.my-button{
    display: block;
    width: 250px;
    height: 60px;
    background-color: #a4b9be;
    color: #fff;
    font-size: 21px;
    font-family: 'Lato-Regular';
    line-height: 60px;
    margin: 0 auto;
    border-radius: 3px;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
header.top .header-content a.my-button span{
    position: relative;
}
header.top .header-content a.my-button span::after{
    content: '>>';
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    line-height: 27px;
}
header.top .header-content a.my-button:hover{
    background-color: #6a8d95;
}
header.top .header-content a.my-button:hover span::after{
    right: -40px;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
section{
    text-align: center;
}
.description{
    padding: 80px 0 100px;
}
.description h2{
    color: #535a5e;
}
.all-h2{
    font-family: 'Lato-Bold';
    font-size: 38px;
    padding-bottom: 20px;
}
.description p{
    font-family: 'Lato-Regular';
    max-width: 940px;
    margin: 0 auto;
    color: #9fa4a7;
    font-size: 16px;
    margin-bottom: 60px;
}
.slideshow{
    background-color: #a4b9be;
    padding-top: 80px;
}
.slideshow h2{
    color: #f1f1f1;
}
.slideshow p{
    color: #fff;
    max-width: 560px;
    margin: 0 auto 50px;
}
.slideshow .slick-slider img{
    margin: 0 auto;
}
.slideshow .slick-prev{
    left: -50px;
}
.slideshow .slick-next{
    right: -50px;
}
.slideshow .slick-prev,
.slideshow .slick-next{
    height: 42px;
    width: 23px;
}
.slideshow .slick-prev:before,
.slideshow .slick-next:before{
    content:'';
    background-image: url(../img/slide-arrow.png);
    display: block;
    height: 42px;
    width: auto;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.slideshow .slick-next:before{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.pricing{
    background-color: #fcfcfc;
    padding: 80px 0;
}
.pricing h2{
    color: #535a5e;
    font-size: 30px;
}
.pricing p{
    color: #98a0a5;
    max-width: 620px;
    margin: 0 auto 50px;
}
.pricing .prices{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 960px;
    margin-bottom: 50px;
}
.pricing .prices .price-item{
    max-width: 290px;
    width: 33%;
}
.price-item .pricing-header{
    width: 100%;
    height: 80px;
    color: #e9eef2;
    font-family: 'Lato-Light';
    font-size: 30px;
    border-radius: 3px 3px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: capitalize;
}
.price-item .pricing-header span{
    font-size: 16px;
    font-family: 'Lato-Regular';
}
.price-item .pricing-content{
    width: 100%;
    border-radius: 0 0 3px 3px;
    margin-bottom: 20px;
}
.price-item .pricing-content ul{
    padding: 20px 0;
}
.price-item .pricing-content ul li{
    padding: 16px 0;
    font-size: 21px;
    color: #535a5e;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
}
.price-item .pricing-content ul li:first-child{
    font-family: 'Lato-Bold';
}
.price-item .pricing-footer{
    width: 100%;
    border-radius: 3px;
    color: #e9eef2;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
}
.price-item .pricing-footer a{
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.price-item .pricing-footer a:hover,
.price-item .pricing-footer a:hover span,
.price-item .pricing-footer a,
.price-item .pricing-footer a span{
    color: #e9eef2;
}
.price-item .pricing-footer a span{
    position: relative;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.price-item .pricing-footer a span::after{
    content: '>>';
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    line-height: 23px;
    font-size: 20px;
}
.price-item .pricing-footer a:hover span::after{
    right: -40px;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.pricing .prices .item-1 .pricing-header,
.pricing .prices .item-1 .pricing-footer{
    background-color: #535a5e;
}
.pricing .prices .item-1 .pricing-content{
    background-color: #e9eef2;
}
.pricing .prices .item-2 .pricing-header,
.pricing .prices .item-2 .pricing-footer{
    background-color: #58ad52;
}
.pricing .prices .item-2 .pricing-content{
    background-color: #dfebdf;
}
.pricing .prices .item-3 .pricing-header,
.pricing .prices .item-3 .pricing-footer{
    background-color: #53a1ad;
}
.pricing .prices .item-3 .pricing-content{
    background-color: #dee9eb;
}
.pricing .bottom-info{
    font-family: 'Lato-Regular';
    font-size: 15px;
    color: #98a0a5;
    max-width: 360px;
    margin: 0 auto;
}
.contact{
    background-color: #2d3035;
    padding: 80px 0;
}
.contact h2{
    color: #f1f1f1;
}
.contact p{
    color: #98a0a5;
    max-width: 480px;
    margin: 0 auto 60px;
}
.contact form{
    max-width: 400px;
    margin: 0 auto;
}
.contact form input,
.contact form textarea{
    width: 100%;
    background-color: #2d3035;
    outline: none;
    border: 2px solid #e9eef2;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 16px 27px;
    color: #e9eef2;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.contact form input[type='text']:focus,
.contact form input[type='email']:focus,
.contact form textarea:focus{
    border: 2px solid #a4b9be;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.contact form textarea{
    resize: vertical;
}
.contact form input[type='submit']{
    margin-top: -6px;
    border: none;
    color: #2d3035;
    font-family: 'Lato-Bold';
    font-size: 18px;
    background-color: #a4b9be;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 40px;
}
.contact form input[type='submit']:hover{
    color: #e9eef2;
    background-color: #6a8d95;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
::-webkit-input-placeholder {
    color: #e9eef2;
    font-size: 17px;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
}
::-moz-placeholder {
    color: #e9eef2;
    font-size: 17px;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
}
:-ms-input-placeholder {
    color: #e9eef2;
    font-size: 17px;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
}
:-moz-placeholder {
    color: #e9eef2;
    font-size: 17px;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
}
.contact .socials ul li{
    display: inline;
}
.contact .socials ul li a{
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #e9eef2;
    color: #2d3035;
    margin: 0 3px;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.contact .socials ul li a:hover{
    background-color: #2d3035;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.contact .socials ul li a i{
    font-size: 16px;
}
.contact .socials ul li a:hover i{
    color: #e9eef2;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
footer{
    background-color: #fcfcfc;
    width: 100%;
}
.footer-inner{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-inner .footer-left{
    font-size: 16px;
    color: #535a5e;
    font-family: 'Lato-Bold';
    float: left;
}
.footer-inner .footer-left p{
    margin-bottom: 0;
}
.footer-inner .footer-right ul{
    display: inline;
}
.footer-inner .footer-right ul li{
    display: inline;
}
.footer-inner .footer-right ul li a{
    display: inline-block;
    font-size: 16px;
    color: #535a5e;
    font-family: 'Lato-Bold';
    padding: 3px 8px;
    text-transform: capitalize;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.footer-inner .footer-right ul li a:hover {
    color: #a4b9be;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
#toTop {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    cursor: pointer;
    display: none;
    color: #6a8d95;
    font-size: 3em;
}